$commonColor:rgb(17, 85, 113);
$aHoverColor:rgb(72, 195, 168);
$headerColor:rgb(208, 245, 237);
$headerColorTransperent: rgba(208, 245, 237,.7);
$advantageHeadersColor:rgb(118, 207, 203);
$navFontSize:23px;
$mailAColor:gray;
$mailAColorHover:white;
$transition-duration: 0.5s;
$buttonBorderRadius:7px;
$buttonBoxShadow:0 0 10px black;
$gradientColor:rgba(23,23,23,.4);